.business_div {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.descriptions_div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.photo {
  border-radius: 50%;
  object-fit: cover;
}
  
.thumb {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.16);
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
}

.title:hover {
    text-decoration: underline;
    color: #1c9dee;
}

.descriptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    min-width: 340px;
}

.descriptions_span {
    font-weight: 500;
    font-size: 14px;
    color: #1c9dee
}

.button_appointments {
    padding: 10px 16px;
    background-color: #5eaedc;
    color: white;
    font-weight: bold;
    border: 1px solid #5eaedc;
    border-radius: 4px;
    max-height: 20px;
    text-decoration: none;
}

.button_appointments:hover {
    background-color: white;
    color: #52819c;
}

.p_profession {
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    border:#1c9dee solid 1px
 
}


